{% extends "metamodel/base.html" %}

{% load static %}

{% block navbar %}

    {% with thispage="home" %}

    {% include "metamodel/default-navbar.html" %}

    {% endwith %}

{% endblock navbar %}


  {% block bodycontent %}



  <div class="page-header">
    Home
  </div>

  <div class="container">


      <div class="row">

        <div class="col-md-3">
        
              <br />

              <form action="{% url 'metamodel:home'%}" method="get">
              <div id="custom-search-input">
                      <div class="input-group col-md-10">
                          <input type="text" class="search-query form-control" placeholder="Search" name="q" id="q" value="{{ q|default:'' }}" />
                          <span class="input-group-btn">
                              <button class="btn btn-danger" type="button">
                                  <span class=" glyphicon glyphicon-search"></span>
                              </button>
                          </span>
                      </div>
                  </div>
              </form>



  
              <div style="margin-top: 50px;">
                <h4>By Source</h4>
                <hr>
                {% for source in  sources_all %}
                  <li><a href="{% url 'metamodel:home' %}?s={{source}}" {% if s == source %}class="active-filter"{% endif %}>{{source}}</a></li>
                {% endfor %}
              </div>
              
              <div style="margin-top: 50px;">
                <h4>By Product</h4>
                <hr>
                {% for platform in  platform_all %}
                  <li><a href="{% url 'metamodel:home' %}?p={{platform}}" {% if p == platform %}class="active-filter"{% endif %}>{{platform}}</a></li>
                {% endfor %}
              </div>


        </div>

        <div class="col-md-9">
        
                <h4>MetaFields</h4>
                <hr>


                <table class="table table-striped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>N</th>
                      <th>Source</th>
                      <th>Field Name</th>
                      <th>Products</th>
                    </tr>
                  </thead> 
                  <tbody>

                 {% for field in  fields %}
                  
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{field.source}}</td>
                      <td><a href="{% url 'metamodel:field-detail' field.id %}?q={{ q|default:'' }}">{{field.name}}</a></td>
                      <td>{% for impl in field.implementation_set.all %}{{impl.platform|capfirst}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    </tr>

                {% endfor %}

                  </tbody>
                </table>

              </div>

        </div>

        </div>  <!-- /row -->



    <div class="row">
    &nbsp;
    </div>



  </div> <!-- /container -->


{% endblock bodycontent %}
